.container {
  text-align: center;
  scroll-margin-top: 5rem;
}

.secondary_text {
  color: #0d70df;
  margin-top: 2rem;
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;

}

.columns {
  flex-direction: row-reverse;
}
.columns p {
  line-height: 200%;

}


.hero h1 {
  font-size: clamp(30px, 5vw, 100px);
  line-height: 1;
  font-weight: 800;
  letter-spacing: -0.05em;
  color: #2a274b;
  max-width: 20ch;
  margin-inline: auto;
  text-align: center;
}

.image_container {
  /* padding: 0 1rem; */
  max-width:250px;
  margin: 0 auto;
  padding-left: 2rem;
}

.timeline_img {
  padding: 1rem;
}

@media (min-width: 1024px) {
  .container {
    text-align: start;
    font-size: 20px;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .hero {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
  }

  .columns {
    display: flex;
    padding: 2rem 6rem;
    justify-content: space-between;
    justify-content: center;
    color: #444444;
    align-items: center;
  }

  .columns p {
    max-width: 40ch;
    line-height: 225%;
  }

  .image_container {
    padding: 0;
    max-width: none;
    margin: 0;
  }


  .secondgrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .secondgrid p {
    text-align: center;
    max-width: 70ch;
    color: #444444;
  }

  .secondgrid button {
    font-size: 16px
  }
}