.layout {
    padding: 0 1rem;
}

@media (min-width: 600px) {
    .layout {
        padding: 0 4rem;
    }
}
@media (min-width: 769px) {
    .layout {
        padding: 0 4rem;
    }
}
@media (min-width: 850px) {
    .layout {
        padding: 0 4rem;
    }
}


@media (min-width: 1024px) {
    .layout {
        padding: 0 6rem;
    }
}
@media (min-width: 1200px) {
    .layout {
        padding: 0 8rem;
    }
}